body {
  text-align: center;
  background-color: #ADCF9F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #CED89E;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #F4BFBF;
}

.green {
  background-color: #FFD9C0;
}

.blue {
  background-color: #FAF0D7;
}

.yellow {
  background-color: #CDF0EA;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
